#about {
  /* margin: 4rem auto; */
  text-align: center;
  background-color: #f1f1f1;
  width: 100vw;
  /* padding-top: 55px; */
  margin: 0 !important;
  /* height: 800px; */
  /* height: 800px; */
}