#contact {
    background-color: #fcf5ff;
    margin: 0px !important;
    text-align: center;
    /* height: 800px; */
}

#conTact{
    /* background-color: paleturquoise; */
    text-align: left;
}

#contactIcon {
    color: black;
}