#header{
    border-radius: 0;
    height: 50px;
    margin: 0px !important;
    font-family: Arial;
}
#Name, #About, #Resume, #Works, #Contact, #Home {
    color: #bdabda !important;
    /* background-color: transparent !important; */
}
 #name {
    font-family: 'Caveat', cursive;
    font-size: larger;
 }